{% extends "base/base.html" %}

{% block title %}
    {{author.name}}
{% endblock %}


{% block content %}
<h1>{{author.name}} </h1>

<div class="accordion col-12 col-lg-8 pt-4 mb-5" id="my-accordion">
    {% for song in songs %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-dark text-light " type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                    {{song.title}}
                </button>
            </h2>

            <div class="accordion-collapse collapse" id="collapse{{forloop.counter}}" data-bs-parent="#my-accordion">
                <div class="accordion-body" >
                    <table class="table table-hover">
                        {% for entry in song.publicentry_set.all %}
                            <tr><td onclick="window.location='{% url 'public_entry' song.author.slug song.slug entry.number %}'">
                                <a href="{% url 'public_entry' song.author.slug song.slug entry.number %}" class="text-decoration-none text-light">ver. {{entry.number}}</a>
                            </td></tr>
                        {% endfor %}
                    </table>              
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}