{% extends "base/base.html" %}

{% block title %}
    My chords
{% endblock %}


{% block content %}
<h1> My chords </h1>


{% if entries %}
    <ul class="list-group col-12 col-lg-8 mt-5 mb-5">
        {% for entry in entries %}
            <a href="{% url 'user_entry' entry.pk %}" class="list-group-item list-group-item-action">
                {{entry}}
                <small class="float-end text-muted">{{entry.added_date|date:'d.m.y'}}</small>
            </a>
        {% endfor %}
    </ul>
{% else %}
    <p>Nothing to see there...</p>
{% endif %}


{% endblock %}