{% extends "base/base.html" %}

{% block title %}
    Edit {{ user.username }}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-2">
        <h2>{{ user.username }}</h2>
        <img src="https://i.postimg.cc/jdSrCVyg/default.png" class="py-3 mx-auto d-block col-md-12 col-6" alt="profile picture">
        <!-- heroku doesn't doesn't have static images
        <img src="/media/{{user.pfp}}" class="py-3 mx-auto d-block col-md-12 col-6"> -->
    </div>
    
    <div class="col-md ms-md-3">

        <form method="post" >
            {% csrf_token %}
            <div class="col-md-8">
                <label for="{{ form.username.id_for_label }}" class="col-form-label-lg">
                    {{form.username.label}}
                </label>
                {{form.username}}

                <div class="invalid-feedback ">
                    {% for error in form.username.errors %}
                        <p class="small m-0">{{error}}</p>
                    {% endfor %}
                </div>

            </div>
            <div class="col-md-8">
                <label for="{{ form.email.id_for_label }}" class="col-form-label-lg">
                    {{form.email.label}}
                </label>
                {{form.email}}
                                    
                <div class="invalid-feedback ">
                    {% for error in form.email.errors %}
                        <p class="small m-0">{{error}}</p>
                    {% endfor %}
                </div>

            </div>

            <div class="col-md-8">
                <label for="{{ form.about.id_for_label }}" class="col-form-label-lg">
                    {{form.about.label}}
                </label>
                {{form.about}}
                                    
                <div class="invalid-feedback ">
                    {% for error in form.about.errors %}
                        <p class="small m-0">{{error}}</p>
                    {% endfor %}
                </div>

            </div>
            <!-- heroku doesn't have static images
            <div class="col-md-8">
                <label for="{{ form.pfp.id_for_label }}" class="col-form-label-lg">
                    Profile picture
                </label>

                {{form.pfp}}
                                    
                <div class="invalid-feedback ">
                    {% for error in form.pfp.errors %}
                        <p class="small m-0">{{error}}</p>
                    {% endfor %}
                </div>

            </div> -->
            <div class="my-3 d-flex justify-content-between col-md-8">
                <button type="submit" class="btn btn-primary ">Save</button>
                <a href="{% url 'password_change' %}" class="btn btn-outline-danger" role="button">Reset password</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}