{% extends "base/base.html" %}

{% block title %}
{{ user.username }}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-2">
        <h2>{{ object.username }}</h2>
        <img src="https://i.postimg.cc/jdSrCVyg/default.png" class="py-3 mx-auto d-block col-md-12 col-6" alt="profile picture">
        <!-- heroku doesn't doesn't have static images
        <img src="/media/{{user.pfp}}" class="py-3 mx-auto d-block col-md-12 col-6"> -->
        {% if object.about %}
            <div class="card w-100 p-2 small">
                    {{ object.about }}
            </div>
        {% endif %}

        {% if user == object %}
            <div>
                <a href="{% url 'profile_update' %}" class="btn btn-secondary my-3 w-100" role="button">Edit profile </a>      
            </div>
        {% endif %}

    </div>
    <div class="col-md ms-md-3">
        <h3>Published chords:</h3>
        {% if entries %}
            <p>Chords published: {{entries|length}}</p>
            <ul class="list-group w-100 mb-5">
                {% for entry in entries %}
                    <a href="{% url 'public_entry' entry.song.author.slug entry.song.slug entry.number %}" class="list-group-item list-group-item-action">
                        {{entry}}
                        <small class="float-end text-muted">{{entry.added_date|date:'d.m.y'}}</small>
                    </a>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nothing to see there...</p>
        {% endif %}
    </div>
</div>

{% endblock %}